body {
    font-family: helvetica;
    color: #354463;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.title {
    text-decoration: none;
    font-size: 100%;
    color: #354463;
}

.nav-links {
    padding: 0px 60px 0 60px;
    text-decoration: none;
    color: #354463;
}

.header-btn {
    color: #354463;
    background: #C1F7D5;
    padding: 10px;
    border-radius: 2rem;
    text-decoration: none;
}

/* --------------------------------------------------first--------------------------------- */

.first {
    background-image: url(/images/assets/assets/home/annie-spratt-135307-unsplash.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    left: 0;
    width: 83.9%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 150px 100px 100px 100px;
    position: relative;
}

.intro-card {
    background: white;
    color: black;
    width: 80%;
    height: 60%;
    padding: 10%;
}

.card-title {
    color: white;
    background: #354463;
    font-family: monospace;
    position: absolute;
    top: 23%;
    padding: 1% 2%;
}

.intro-h {
    font-size: 250%;
    width: 100%;
    color: #354663;
    height: 190px;
}

.intro-p {
    font-size: 95%;
    text-decoration: underline;
    color: #354663;
}

.intro-text {
    padding: 0 0 0 120px;
    width: 50%;
    font-size: 400%;
    font-family: flood;
    color: white;
}

/* --------------------------------------------------second----------------------------------- */

.second {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 30px;
    background: #C1F7D5;
    width: 95.35%;
    font-family: Helvetica;
    position: relative;
}

.act-title {
    top: -22%;
    left: 45%;
}

/* -----------------------------------------------third---------------------------------------- */

.third {
    position: relative;
    background: #354463;
    width: 84%;
    padding: 100px;
    color: white;
}

.do-title {
    background: white;
    color: #354463;
    top: 4%;
}

.cards {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 75px 0 0 0;
}

.card-on {
    width: 80%;
    height: 105%;
    background: white;
    color: #354463;
    padding: 6px;
    position: relative;
}

.third-text {
    width: 80%;
}

.third-img {
    width: 100%;
    height: 48%;
    position: absolute;
    left: 8%;
    top: -5%;
}

.third-card-title {
    padding: 0 0 0 20px;
    font-size: 150%;
    margin: 200px 0 0 0;
}

.third-card-text {
    padding: 0 30px 0 25px;
    font-size: 100%;
}

.third-btn {
    color: black;
    background: #C1F7D5;
    padding: 10px 25px 10px 25px;
    border-radius: 40px;
    border: none;
    position: absolute;
    left: 20%;
}

/* ----------------------------------------------fourth------------------------------------------- */

.fourth {
    background-image: url(/images/assets/assets/home/did-you-know-background.png);
    background-repeat: no-repeat;
    display: grid;
    /* justify-content: space-between; */
    padding: 80px;
    width: 87.3%;
    grid-template-columns: 50% 50%;
    position: relative;
    /* top: 1790px; */
    background-size: cover;
    /* left: 0; */
    /* height: 121%; */
}

.fourth-one {
    padding: 0 0 0 30px;
}

.fourth-text {
    font-size: 64px;
    width: 60%;
    color: white;
    font-family: flood;
}

.fourth-btn {
    color: #354463;
    background: #C1F7D5;
    padding: 10px 15px 10px 15px;
    border-radius: 2rem;
    border: none;
}

.fourth-two {
    padding: 60px 0 0 0;
}

.fourth-title {
    left: 53%;
    /* position: absolute; */
    top: 11.5%;
}

.container {
    display: grid;
    row-gap: 4%;
}

.content {
    padding: 4%;
    display: flex;
    background: white;
    height: 65%;
    width: 75%;
}

.content-text {
    padding: 20px 0 0 10px;
}

.content-h {
    font-size: 220%;
}

.content-p {
    /* width: 224%; */
    width: 90%;
    font-size: 110%;
}

.media {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    padding: 14px;
}

.fourth-img {
    background: #C1F7D5;
    padding: .5rem;
    width: 50%;
    height: 10%;
    border-radius: 2rem;
}

/* ----------------------------------------------fifth---------------------------------------- */

.fifth {
    display: flex;
    padding: 100px;
    position: relative;
    width: 84.3%;
}

.fifth-one {
    width: 33%;
    padding: 0 0 0 20px;
}

.fifth-text {
    background: #354463;
    color: white;
    position: absolute;
    padding: 45px;
    widows: 350px;
    top: 37%;
}

.fifth-h {
    font-size: 20px;
    width: 285px;
}

.fifth-p {
    font-size: small;
    margin: 20px 0 0 0;
}

.fifth-btn {
    position: absolute;
    top: 70%;
}

.fifth-title {
    position: absolute;
    top: 85px;
    left: 500px;
}

.fifth-img {
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------------sixth-------------------------------------- */

.sixth {
    background: #354463;
    width: 83.5%;
    height: 1240px;
    color: white;
    padding: 100px 100px 0 100px;
    position: relative;
    /* top: 3800px; */
    /* left: 0; */
}

.sixth-heading {
    font-family: flood;
    font-size: 350%;
    width: 70%;
}

.sixth-blocks {
    display: flex;
    flex-direction: column;
}

.sixth-one {
    display: flex;
    flex-direction: row;
    padding: 50px 0 0 0;
}

.sixth-two {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 0 0 0;
}

.sixth-img {
    width: 50%;
    /* height: 100%; */
}

.sixth-content {
    padding: 70px 0 0 50px;
}

.space {
    padding: 70px 200px 0 50px;
}

.sixth-title-one {
    background: white;
    color: #354463;
    top: 19%;
}

.sixth-title-two {
    background: white;
    color: #354463;
    top: 61%;
}

.sixth-h {
    /* FONT-WEIGHT: 100; */
    font-size: 190%;
    width: 70%;
}

.sixth-p {
    font-size: 110%;
    width: 300px;
}

.sixth-btn-one {
    position: absolute;
    top: 48%;
    width: fit-content;
}

.sixth-btn-two {
    position: absolute;
    top: 90%;
    width: fit-content;
}

/* -------------------------------------------------seventh------------------------------ */

.seventh {
    position: relative;
    background: #C1F7D5;
    display: flex;
    width: 89.5%;
    padding: 65px;
    /* position: absolute; */
    /* top: 5140px; */
    /* left: 0; */
    justify-content: space-evenly;
}

.seventh-text {
    font-size: 150%;
    width: 470px;
}

.seventh-input {
    border: none;
    padding: 10px 25px 10px 20px;
    border-radius: 30px;
}

.seventh-btn {
    color: #c1f7d5;
    background: #354463;
    padding: 10px 15px 10px 15px;
    height: 15px;
}

/* -----------------------------------------footer------------------------------------ */
.footer {
    padding: 40px 0 0 125px;
    display: flex;
    position: relative;
    /* top: 5320px; */
    /* background: black; */
    width: 90%;
    /* left: 0; */
}

.fr-title {
    color: #354463;
    font-size: 110%;
    width: 30%;
}

.fr-text {
    padding: 0;
    color: #354463;
    font-size: 220%;
    text-align: right;
    width: 30%;
}

.fr-container {
    display: flex;
    padding: 0px 50px 0px 50px;
}

.fr-details {
    width: 150px;
    margin-left: 25px;
}

.fr-h {
    border-bottom: 1px solid #354463;
    padding: 0 0 15px 0;
}