@media (max-width: 1024px) {
    .header {
        display: block;
        padding-left: 10%;
    }
    .title {
        font-size: 170%;
    }
    .nav-links {
        font-size: 125%;
        padding: 0 20% 0 0;
    }
    .header-btn {
        position: absolute;
        font-size: 176%;
        top: 3%;
        width: 19%;
        left: 90%;
        padding: 15px 20px 15px 20px;
    }
    /* ---------------------------------------------------first----------------------------------- */
    .first {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding: 10%;
    }
    .card-title {
        top: 36%;
        font-size: 150%;
    }
    .intro-text {
        padding: 0 0 60px 0;
        width: 25%;
    }
    .intro-card {
        padding: 8%;
    }
    .intro-h {
        font-size: 390%;
    }
    .intro-p {
        font-size: 190%;
        padding: 50px 0 0 0;
    }
    /* ---------------------------------------------second---------------------------------------- */
    .second {
        grid-template-columns: 50% 50%;
        width: 114%;
        font-size: xx-large;
    }
    .act-title {
        font-size: x-large;
        padding: 15px;
        top: -10%;
        left: 42%;
    }
    .action {
        width: 80%;
    }
    /* -------------------------------------------------------third------------------------------- */
    .third {
        padding: 100px;
        font-size: x-large;
        width: 100%;
    }
    .do-title {
        padding: 20px;
        font-size: 130%;
        top: 2%;
    }
    .third-text {
        font-size: 190%;
        padding: 3% 0 0 0;
    }
    .cards {
        grid-template-columns: 100%;
        row-gap: 90px;
    }
    .card-on {
        flex-direction: column;
        padding: 35px 0px 0 468px;
        width: 55%;
        height: 90%;
    }
    .third-img {
        position: absolute;
        left: 45px;
        width: 40%;
        height: 75%;
    }
    .third-btn {
        left: 25%;
        top: 75%;
        font-size: 125%;
    }
    .third-card-title {
        width: 70%;
        font-size: 234%;
        margin: 0;
    }
    .third-card-text {
        font-size: 130%;
    }
    /* -----------------------------------------fourth------------------------------------------- */
    .fourth {
        width: 104%;
        grid-template-columns: 40% 60%;
    }
    .fourth-title {
        top: 11%;
        left: 45%;
    }
    .content-h {
        font-size: 270%;
    }
    .fourth-btn {
        padding: 15px 25px 15px 25px;
        font-size: large;
    }
    .container{
        row-gap: 1%;
    }
    .content-p {
        font-size: 140%;
        width: 80%;
    }
    /* ----------------------------------------------fifth---------------------------------------- */
    .fifth {
        padding: 100px;
        flex-direction: column-reverse;
        /* top: 4100px; */
    }
    .fifth-text {
        left: 30%;
        width: 58%;
        height: 23%;
        height: 10;
        top: 80%;
    }
    .fifth-h {
        width: auto;
        font-size: 30px;
    }
    .fifth-p {
        font-size: x-large;
    }
    .fifth-btn {
        left: 30%;
        padding: 18px 30px 18px 30px;
        font-size: x-large;
        top: 115%;
        border-radius: 35px;
    }
    .fifth-title {
        font-size: 210%;
        top: 8%;
        left: 40%;
    }
    .fifth-img {
        width: 100%;
        height: 100%;
    }
    /* -----------------------------------------------------sixth--------------------------------- */
    .sixth {
        width: 99.7%;
        height: 1250px;
        margin: 250px 0 0 0;
    }
    .sixth-one {
        padding: 50px 0 50px 0;
    }
    .sixth-title-one {
        top: 250px;
    }
    .sixth-title-two {
        top: 745px;
    }
    .sixth-btn-two {
        top: 87%;
        font-size: 150;
    }
    .sixth-img {
        /* height: 400px; */
        width: 45%;
    }
    .space {
        padding: 64px 100px 0 50px;
    }
    /* -------------------------------------------------seventh------------------------------ */
    .seventh {
        width: 106%;
        /* top: 6399px; */
    }
    .seventh-text {
        position: absolute;
        font-size: 200%;
        width: 675px;
    }
    .seventh-input {
        margin: 100px 0 0 85px;
        padding: 12px 70px 12px 25px;
        font-size: x-large;
    }
    .seventh-btn {
        margin: 100px 0 0 150px;
        font-size: x-large;
        padding: 10px 25px 25px 25px;
    }
    /* -----------------------------------------footer------------------------------------ */
    .footer {
        display: grid;
        grid-template-columns: 30% 70%;
        /* top: 6700px; */
    }
    .fr-container {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 50px;
    }
    .fr-title{
        width: 150%;
    }
    .fr-text {
        position: absolute;
        font-size: 50px;
        top: 179px;
        left: 750px;
    }

}